{% extends 'admin/base-granted.html.twig' %}

{% block title %}Upravljačka ploča{% endblock %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Upravljačka ploča</h1>
        </div>


        <!-- Content Row -->
        <div class="row">

            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Trebaš pomoć?</h6>
                    </div>
                    <div class="card-body">
                        <p>Ako trebaš pomoć kontaktiraj me na: <a href="mailto:kristijan@soldo.dev">kristijan@soldo.dev</a>, <br>ili prijavi issue na GitHub repository. </p>
                        <a target="_blank" rel="nofollow" href="https://github.com/beryb/backend">GitHub &rarr;</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->


{% endblock %}
