* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

video, img {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    opacity: 0;
    transition: 200ms ease all;
}

.shown {
    video, img {
        opacity: 1;
    }
}
