{% extends 'admin/base-granted.html.twig' %}

{% block title %}Klijenti{% endblock %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid client-new">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dodaj novog klijenta</h1>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        {% include 'admin/views/client/form.html.twig' with {'form': form, 'isEdit': false} %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

{% endblock %}
